
.fade-in {
    z-index: 99999;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    border-radius: 100px;
    position: fixed;
    bottom: 20px;
    display: flex;
    min-width: 100px;
    height: 32px;
    opacity: 0.1;
    animation: fade 2s forwards;
    left: 50%;
    /* 将元素的左边缘定位到视口的水平中心 */
    transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }

    30% {
        opacity: 1;
        bottom: 70px;
    }

    100% {
        opacity: 0;
        bottom: 20px;
    }
}

.tip {
    white-space: nowrap;
}
